*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    margin: auto;
    width: 90%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
#navbar>div:nth-child(2){
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
#navbar>div:nth-child(2)>p{
    cursor: pointer;
}
select{
    border: none;
    outline: none;
    cursor: pointer;
}
#container{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}
#container>div{
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid gray;
}
#container>div>a{
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
#container>div>a>h2{
    color: blue;
    margin-bottom: 10px;
}